<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Facturas de la cuenta {{cuenta}}</span>
</nav>
<div class="ng-container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
  </mat-form-field>
  <div class="">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="factura">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Factura </th>
        <td mat-cell *matCellDef="let documento"> {{documento.factura}} </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
        <td mat-cell *matCellDef="let documento"> {{documento.valor}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
    <mat-paginator #paginator [pageSize]="5"
                              [pageSizeOptions]="[5, 10, 20]"
                              [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>
