
.navbar {
  background: #F5F5F5;
  padding-bottom: 0px;
  display:block;
}
.navbar-nav {
  background: #F5F5F5;
  padding-bottom: 0px;
}
.nav-item{
  font-family: "TelefonicaWeb-Regular";
  font-style: normal;
  font-size: 14px;
  color: #86888c;
  text-align: center;
  line-height: normal;
  padding-left: 25px;
  padding-right: 25px;
}

.nav-link{
  text-align:center;
}

.nav-link:hover {
  background: #2694B6;
  color: white;
}

.barra {
  min-height: 3px;
}

.activo {
  background: #2694B6;
}

@media (max-width: 768px) {

  .navbar-nav{
    text-align: center;
  }
}