<mat-dialog-content class="mat-typography">
  <!-- <embed class="pdf" src="../../../../assets/doc/Documento_Cliente_17812362.pdf"> -->
  <nav class="navbar">
    <span>Detalle Factura N° {{documento.factura}}</span>
  </nav>

  <div class="row">
    <div class="col-sm-7">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card derecha">
        <div class="card-body links">
          <h5 class="card-title">Visualizar Factura</h5>
          <button type="button" class="btn btn-link" (click)="downloadPDF()">Ver factura Electrónica</button>
        </div>
      </div>
      <div class="card derecha">
        <div class="card-body links">
          <h5 class="card-title">Impugnar Factura</h5>
          <button type="button" class="btn btn-link">Ir a formulario de impugnación</button>
        </div>
      </div>
    </div>
  </div>





  <!-- <div class="row primera-fila">
    <div class="col-sm-3 col">
      <div class="card factura">
        <div class="card-body">
          <h5 class="card-title">{{documento.factura}}</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col">
      <div class="card pagar">
        <div class="card-body">
          <h5 class="card-title">Pagar Deuda del Documento</h5>
          <p class="card-text">{{documento.valor}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col">
      <div class="card documento">
        <div class="card-body">
          <h5 class="card-title">Ver Factura electrónica</h5>
          <button type="button" class="btn btn-link" (click)="downloadPDF()">Factura Electrónica</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row segunda-fila">
    <div class="col-sm-5 col" >
      <div class="card impugnar">
        <div class="card-body">
          <h5 class="card-title">Impugnar Factura</h5>
          <a href="">Ir a formulario de impugnación</a>
        </div>
      </div>
    </div>
    <div class="col-sm-7 col">
      <div class="card detalle">
        <div class="card-body">
          <h5 class="card-title">Tipo Documento</h5>
          <p class="card-text">Factura CICLO</p>
        </div>
      </div>
    </div>
  </div> -->
</mat-dialog-content>
