.navbar{
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background: #2694B6;
  line-height: normal;
}

.mat-dialog-content{
  margin: 25px 0px;
  padding: 0px 10px 0px 24px;
  width: 100%;
  display: flex;
}

div{
  color: #86888C;
  font-size: 14px;
}

.col-sm-7{
  display: inline-block !important;
}

.primera{
  max-width: 60%;
}

.segunda{
  max-width: 40%;
}

.box{
  border: 1px solid #E9EAE8;
  border-radius: 5px;
  padding: 0px 25px;
}

.row-monto, .row-estado, .row-tipo {
  padding: 23px 0px;
}

.row-monto{
  font-weight: bold;
}

.col-monto, .col-valor, .col-pagar, .descripcion, .descripcionEstado, .textRight{
  display: inline-block;
}

.col-monto{
  font-size: 20px;
  text-align: left;
}

.col-valor{
  font-size: 24px;
  text-align: center;
}

.col-pagar{
  text-align: right;
}

.descripcion{
  padding-bottom: 5px;
  width: 50%;
}

.descripcionEstado{
  padding-bottom: 0px;
  width: 50%;
}

.dato{
  width: 50%;
}

.derecha{
  padding: 10px;
  margin: 10px;
}

.segunda > .box{
  height: 140px;
  padding: 25px;
  text-align: center;
}

.verFactura{
  margin-bottom: 26px;
}

.card-title{
  font-size: 14px;
  font-weight: bold;
}

.linkVerFactura, .linkImpFactura{
  margin-top: 10px;
}

.linkVerFactura:hover .btn-link,
.linkImpFactura:hover .btn-link{
  color: #2694B6;
}

.linkVerFactura:hover .factura{
  background-image: url("/assets/img/icono_factura_hover.svg");
}

.linkImpFactura:hover .impugnar{
  background-image: url("/assets/img/icono_impugnacion_hover.svg");
}

/**********BOTONES************/
.botonMovistar{
  background-color: #00976D;
  color: #fff;
  font-family: "TelefonicaWeb-Regular";
  height: 100%;
  width: 100px;
  margin-left: -10px;
  border: 1px solid #00976D;
  border-radius: 3px;
  box-shadow: none;
}

.botonMovistar:hover, .botonMovistar:active{
  box-shadow: none;
}

.btn-link{
  font-size: 14px !important;
  font-style: normal;
  color: #86888C;
  padding-top: 18px;
  padding-bottom: 12px;
  text-decoration: underline;
}

.buttonClose{
  color: #FFFFFF;
  background: #2694B6;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}


/*********ICONO*********/
.impugnar{
  background-image: url("/assets/img/icono_impugnacion.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  vertical-align: -webkit-baseline-middle;
  margin-right: -5px;
}

.factura{
  background-image: url("/assets/img/icono_factura.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  vertical-align: -webkit-baseline-middle;
  margin-right: -5px;
}

/***********TEXTOS***********/
.rojo{
  color: #D93D3D !important;
}

.naranjo{
  color: #FF7B00 !important;
}

.verde{
  color: #00976D !important;
}

.bold{
  font-weight: bold;
}

.textRight{
  text-align: right;
}

/************PANTALLA RESPONSIVE**********/
@media (max-width: 1009px) {

  .mat-dialog-content{
    width: 100%;
    padding: 0;
    display: block;
  }

  .col-sm-7{
    max-width: 100% !important;
    display: block !important;
  }

  .col-monto, .col-valor, .col-pagar{
    max-width: 100%;
    text-align: center;
  }

 .col-pagar{
    margin: 0 5px;
    margin-top: 10px;
  }

  .botonMovistar{
    width: 100% !important;
  }

  .box{
    padding: 0 10px;
  }

  .segunda{
    margin-top: 26px;
  }

  .btn-link{
    padding: 18px 0px 0px 5px;
  }

  .factura, .factura:hover, .factura:active, 
  .impugnar, .impugnar:hover, .impugnar:active{
    margin-right: 0px;
    margin-bottom: -8px;
  }

  /****pantalla horizontal****/
  @media screen and (orientation: landscape) {
    .descripcion{
      width: 50%;
    }
    .descripcionEstado{
      width: 50%;
    }
    .dato{
      width: 50%;
    }
  }
 
}

@media (max-width: 411px){

  .descripcionEstado, .descripcion{
    width: 64%;
    padding: 0px 0px 0px 5px;
  }

  .dato{
    width: 36%;
    padding: 0px 5px 0px 0px;
  }

  .linkImpFactura{
    margin-left: -1px;
  }

}

@media (max-width: 320px){

  .linkImpFactura{
    width: 119% !important;
    margin-left: -15px;
  }

}
