<h2 mat-dialog-title>Detalle Factura</h2>
<mat-dialog-content class="mat-typography">
  <div class="row primera-fila">
    <div class="col-sm-3">
      <div class="card factura">
        <div class="card-body">
          <h5 class="card-title">N° Factura</h5>
          <p class="card-text">1234</p>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card ejecutiva">
        <div class="card-body">
          <h5 class="card-title">Datos Ejecutiva comercial</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card direccion">
        <div class="card-body">
          <h5 class="card-title">Dirección comercial</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row segunda-fila">
    <div class="col-sm-5">
      <div class="card empresa">
        <div class="card-body">
          <h5 class="card-title">Datos de la empresa</h5>
          <p class="card-text">RUT</p>
          <p class="card-text">Razón social</p>
          <p class="card-text">Giro</p>
          <p class="card-text">PAC-PAT</p>
        </div>
      </div>
      <div class="card pago">
        <div class="card-body">
          <h5 class="card-title">Pagar Deuda del Documento</h5>
          <p class="card-text">$ 100.000</p>
        </div>
      </div>
      <div class="card factura-electronica">
        <div class="card-body">
          <h5 class="card-title">Pagar Deuda del Documento</h5>
          <a href="">Factura Electrónica</a>
        </div>
      </div>
      <div class="card factura-impugnar">
        <div class="card-body">
          <h5 class="card-title">Pagar Deuda del Documento</h5>
          <a href="">Ir a formulario de impugnación</a>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="card detalle">
        <div class="card-body">
          <h5 class="card-title">Tipo Documento</h5>
          <p class="card-text">Factura CICLO</p>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
