.navbar{
  font-size: 16px !important;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #2694B6;
  line-height: normal;
}
.row#row-principal{
  padding-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

#primera-col{
  width: 500px;
  padding-bottom: 20px;
  padding-right: 5px;
}
#segunda-col{
  padding-bottom: 20px;
  padding-left: 5px;
}

.row#row-monto{
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}

#col-monto{
  padding-left: 7px;
  padding-right: 0px !important;
  text-align: left;
  font-size: 20px !important;
  font-style: normal;
  font-weight: bold;
  color: #86888C;
}
#col-valor{
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  font-size: 24px !important;
  font-style: normal;
  font-weight: bold;
  color: #86888C;
}
#col-pagar{
  padding-left: 5px;
  padding-right: 7px;
  padding-bottom: 3px;
}
.botonMovistar{
  background-color: #00976D !important;
  color: #fff !important;
  font-family: "TelefonicaWeb-Regular";
  height: 100%;
  width: 100%;
  border: 1px solid #00976D;
  border-radius: 3px;
  box-shadow: none !important;
}

.row#row-estado{
  font-size: 14px !important;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
}
#col-estado-text{
  color: #86888C;
  padding-left: 7px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
}
#col-estado-factura{
  color: #86888C;
  padding-right: 7px;
  text-align: right;
  font-style: normal;
}

.row#row-tipo{
  color: #86888C;
  font-size: 14px !important;
  font-style: normal;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 8px;
  padding-bottom: 2px;
}
#col-tipo-text{
  padding-left: 7px;
  padding-right: 7px;
  text-align: left;
}
#col-tipo{
  padding-left: 7px;
  padding-right: 7px;
  text-align: right;
}

.row#row-emision{
  color: #86888C;
  font-size: 14px !important;
  font-style: normal;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#col-emision-text{
  padding-left: 7px;
  padding-right: 7px;
  text-align: left;
}
#col-emision{
  padding-left: 7px;
  padding-right: 7px;
  text-align: right;
}

.row#row-cobro{
  color: #86888C;
  font-size: 14px !important;
  font-style: normal;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#col-cobro-text{
  padding-left: 7px;
  padding-right: 7px;
  text-align: left;
}
#col-cobro{
  padding-left: 7px;
  padding-right: 7px;
  text-align: right;
}

.row#row-vencimiento{
  color: #86888C;
  font-size: 14px !important;
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#col-vencimiento-text{
  padding-left: 7px;
  padding-right: 7px;
  text-align: left;
}
#col-vencimiento{
  padding-left: 7px;
  padding-right: 7px;
  text-align: right;
}



.card{
  margin-top: 10px;
}

.card-body{
  padding: 5px;
}

.links{
  text-align: center !important;
}

.card-title{
  font-size: 14px !important;
  font-style: normal;
  font-weight: bold;
  color: #86888C;
  padding-top: 8px;
  padding-bottom: 4px;
}
.btn-link{
  font-size: 14px !important;
  font-style: normal;
  color: #86888C;
  padding-top: 18px;
  padding-bottom: 12px;
  text-decoration: underline;
}
.btn-link:hover{
  font-size: 14px !important;
  font-style: normal;
  color: #2694B6;
}
