<nav class="navbar">
  <span>Detalle de pago</span>
  <button mat-dialog-close class="buttonClose">
    <i class="fas fa-times"></i>
  </button>
</nav>
<mat-dialog-content>
  <div class="col-sm-12 primera">
    <div class="box facturas">
      <h5 class="card-title">Facturas agregadas</h5>
      <table mat-table [dataSource]="dataSourceFacturas" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de servicio </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cuenta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Cuenta </th>
          <td mat-cell *matCellDef="let element"> {{element.cuenta}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="factura">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Factura </th>
          <td mat-cell *matCellDef="let element"> {{element.factura}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
          <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
        </ng-container>

        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quitar de pago </th>
            <td mat-cell *matCellDef="let element"> </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsFacturas"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsFacturas;"></tr>
      </table>
    </div>

    <div class="box cuentas">
        <h5 class="card-title">Cuentas agregadas</h5>
        <table mat-table [dataSource]="dataSourceCuentas" matSort class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de servicio </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="cuenta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Cuenta </th>
            <td mat-cell *matCellDef="let element"> {{element.cuenta}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="cant_factura">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de facturas </th>
            <td mat-cell *matCellDef="let element"> {{element.cant_factura}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
            <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
          </ng-container>

          <ng-container matColumnDef="eliminar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Quitar de pago </th>
              <td mat-cell *matCellDef="let element"> </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsCuentas"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsCuentas;"></tr>
        </table>
      </div>
  </div>
</mat-dialog-content>
