<nav class="navbar navbar-light bg-light">
  <span>Facturación Móvil</span>
</nav>
<div class="row">
  <div class="col-sm-4" class="buscar">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

  </div>
</div>
<div class="row row-table">
  <div class="col-12">
    <div class="fondoTabla">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="tabla-cuentas">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="checkboxHeader">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="_carroService.selection_movil.hasValue() && isAllSelected()" [indeterminate]="_carroService.selection_movil.hasValue() && !isAllSelected()">
            </mat-checkbox>
            <div class="dropdown">
              <!-- <button class="dropdown-toggle selecTipo" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
              <!-- </button> -->
              <span class="selectTipo" href="#" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
              <div class="dropdown-menu dropdownMenuLeft" aria-labelledby="dropdownMenuButton">
                <span class="flechaMenu menuSelectTipo"></span>
                <a class="dropdown-item dropdownItemCheckbox" href="#">Seleccione que pagar</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" (click)="seleccionarDocumentosVencidos()">Deudas vencidas</a>
                <a class="dropdown-item" href="#" (click)="seleccionarDocumentosPorVencer()">Deudas por vencer</a>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()" class="center">
            <mat-checkbox (click)="seleccionarDocumentos(row)" (change)="$event ? _carroService.selection_movil.toggle(row) : null" [checked]="_carroService.selection_movil.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="cuenta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuenta </th>
          <td mat-cell *matCellDef="let cuenta">
            <span (click)="expandedElement == cuenta ? expandedElement = null : expandedElement = cuenta" [ngClass]="{'detalleUpFirst': expandedElement === cuenta, 'detalleDownFirst': expandedElement !== cuenta}">
            </span>
            &nbsp;<span class="bold" (click)="expandedElement == cuenta ? expandedElement = null : expandedElement = cuenta"> {{cuenta.cuenta}}</span>
            &nbsp;&nbsp;<span class="grisMargin">{{cuenta.tipo}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="deuda_vencida">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Deuda vencida </th>
          <td mat-cell *matCellDef="let cuenta" (click)="$event.stopPropagation()"> {{cuenta.deuda_vencida | currency:'CLP':'$':0:es-CL
            }} &nbsp;<span class="gris">{{cuenta.cant_doc_vencida}}</span></td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Deuda total </th>
          <td mat-cell *matCellDef="let cuenta" (click)="$event.stopPropagation()"> {{cuenta.total | currency:'CLP':'$':0:es-CL
            }} <span class="gris">{{cuenta.cant_doc_total}}</span></td>
        </ng-container>

        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> Acción
            <span class="accion" matTooltip="Seleccione monto que desea pagar"></span>
          </th>
          <td mat-cell *matCellDef="let cuenta" class="center">
            <!-- <button mat-raised-button (click)="openDialogPagar(cuenta)" matTooltip="Seleccione monto que desea pagar" aria-label="Button that displays a tooltip when focused or hovered over"
            class="botonMovistar">
            Pagar
          </button> -->
            <div class="btn-group">
              <button (click)="show=true" type="button" class="btn botonMovistar" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Pagar
              </button>
              <div class="dropdown-menu drop-pagar-cuenta">
                <span class="flechaMenu menuPagar"></span>
                <div class="row row-titulo">
                  <span>Seleccione el monto que desea pagar</span>
                </div>
                <div class="row row-titulo">
                  <div class="col-sm col-monto">
                    <span>{{cuenta.deuda_vencida | currency:'CLP':'$':0:es-CL}}</span>
                  </div>
                  <div class="col-sm col-monto">
                    <span>{{cuenta.total | currency:'CLP':'$':0:es-CL}}</span>
                  </div>
                </div>
                <div class="row row-pagar-cuenta">
                  <div class="col-sm col-pagar">
                    <button class="btn botonMovistar pagar">Deuda vencida</button>
                  </div>
                  <div class="col-sm col-pagar">
                    <button class="btn botonMovistar pagar">Deuda total</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef class="center"> Ver detalle </th>
          <td mat-cell *matCellDef="let cuenta" class="center">
            <span [ngClass]="{'detalleUp': expandedElement === cuenta, 'detalleDown': expandedElement !== cuenta}" (click)="expandedElement == cuenta ? expandedElement = null : expandedElement = cuenta">
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let cuenta" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="cuenta == expandedElement ? 'expanded' : 'collapsed'">
              <!-- AQUI SE DEBE PINTAR LAS FACTURAS -->
              <table mat-table [dataSource]="cuenta.documentos" class="mat-elevation-z8 tabla-facturas">

                <ng-container matColumnDef="select_detail">
                  <th mat-header-cell *matHeaderCellDef class="first">
                  </th>
                  <td mat-cell *matCellDef="let row_documento" class="first">
                    <mat-checkbox [checked]="_carroService.selection_movil_documento.isSelected(row_documento)" (change)="$event ? _carroService.selection_movil_documento.toggle(row_documento) : null"
                      (click)="checkCuenta(row_documento, cuenta)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <ng-container matColumnDef="mes">
                  <th mat-header-cell *matHeaderCellDef class="sortDetalle second"> Mes </th>
                  <td mat-cell *matCellDef="let documento" class="second"> {{documento.mes}} </td>
                </ng-container>

                <ng-container matColumnDef="factura">
                  <th mat-header-cell *matHeaderCellDef> <span class="flechaMenu"></span> N° Factura </th>
                  <td mat-cell *matCellDef="let documento" > <span class="tag" (click)="openDialogDetalleFactura(documento)">{{documento.factura}}
                    </span>
                    <span [ngClass]="{'rojo': documento.situacion === 'Vencida',
                'naranjo': documento.situacion === 'Por vencer'}"> {{documento.situacion}} </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="f_emitida">
                  <th mat-header-cell *matHeaderCellDef> Fecha Emitida </th>
                  <td mat-cell *matCellDef="let documento" > {{documento.fecha_emitida}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="f_vencida">
                  <th mat-header-cell *matHeaderCellDef> Fecha Vencimiento </th>
                  <td mat-cell *matCellDef="let documento" > {{documento.fecha_vencida}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="valor">
                  <th mat-header-cell *matHeaderCellDef> Valor Facturado </th>
                  <td mat-cell *matCellDef="let documento" > {{documento.valor | currency:'CLP':'$':0:es-CL
                    }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="deuda">
                  <th mat-header-cell *matHeaderCellDef> Deuda Documento </th>
                  <td mat-cell *matCellDef="let documento"> {{documento.deuda | currency:'CLP':'$':0:es-CL
                    }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="descarga">
                  <th mat-header-cell *matHeaderCellDef class="center"> Descarga Documento </th>
                  <td mat-cell *matCellDef="let documento" class="center">
                    <!-- <button mat-raised-button (click)="openDialogDetalleFactura(documento)">Boleta</button> -->
                    <!-- <span class="boleta center" (click)="openDialogDetalleFactura(documento)"></span> -->

                    <div class="dropdown">
                      <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="boleta center"></span>
                      </a>

                      <div class="dropdown-menu dropdownMenuRight" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="../../../../assets/doc/cuenta facil/31465044_c_f_200518.txt (1).zip" download="Resumen consumo">Resumen
                          consumo
                        </a>
                        <a class="dropdown-item" href="../../../../assets/doc/detalle trafico/d_t_61794532_200418 (1).txt.gz" download="Detalle tráfico">Detalle
                          tráfico
                        </a>
                        <a class="dropdown-item" href="../../../../assets/doc/resumen consumo/17812362_d_c_011217.zip" download="Cuenta fácil">Cuenta
                          fácil
                        </a>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef class="center"> Acción </th>
                    <td mat-cell *matCellDef="let documento" class="center">
                    <button mat-raised-button class="btn botonMovistar documento">
                      Pagar
                    </button>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columnsDetailToDisplay"></tr>
                <tr mat-row *matRowDef="let row_documento; columns: columnsDetailToDisplay;"
                  [ngClass]="{'active':_carroService.selection_movil_documento.isSelected(row_documento)}">
                </tr>
              </table>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let cuenta; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === cuenta"
          [ngClass]="{'active': _carroService.selection_movil.isSelected(cuenta)}">
        </tr>
        <tr mat-row *matRowDef="let cuenta; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <mat-paginator #paginator [pageSize]="12" [pageSizeOptions]="[12, 24, 36]" [showFirstLastButtons]="true">
      </mat-paginator>
      <div>
      </div>
    </div>

    <div *ngIf="_carroService.selection_movil_documento.selected.length > 0 ">
      <app-footer [lista]="_carroService.selection_movil_documento.selected"></app-footer>
    </div>
