<nav class="navbar navbar-light bg-light">
  <span>Facturación Móvil</span>
</nav>
<div class="docs-example-viewer-body">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
  </mat-form-field>
  <div class="">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="tabla-cuentas">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()" >
          <mat-checkbox (click)="borrarSeleccionDocumentos(row)" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="cuenta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuenta </th>
        <td mat-cell *matCellDef="let cuenta">
          <span class="bold">{{cuenta.cuenta}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="deuda_vencida">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Deuda vencida </th>
        <td mat-cell *matCellDef="let cuenta" (click)="$event.stopPropagation()"> {{cuenta.deuda_vencida | currency:'CLP':'$':0:es-CL
          }} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Deuda total </th>
        <td mat-cell *matCellDef="let cuenta" (click)="$event.stopPropagation()"> {{cuenta.total | currency:'CLP':'$':0:es-CL
          }} </td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let cuenta" (click)="$event.stopPropagation()">
          <button mat-raised-button (click)="openDialogPagar(cuenta)" matTooltip="Seleccione monto que desea pagar" aria-label="Button that displays a tooltip when focused or hovered over"
            class="botonMovistar">
            Pagar
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef class="center"> Ver detalle </th>
        <td mat-cell *matCellDef="let cuenta" (click)="$event.stopPropagation()" class="center">
          detalle
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let cuenta" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="cuenta == expandedElement ? 'expanded' : 'collapsed'">
            <!-- AQUI SE DEBE PINTAR LAS FACTURAS -->
            <table mat-table [dataSource]="cuenta.documentos" class="mat-elevation-z8 tabla-facturas">

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select_detail">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row_documento" (click)="$event.stopPropagation()">
                  <mat-checkbox (click)="borrarSeleccionadoCuenta(cuenta)" (change)="$event ? selection_detail.toggle(row_documento) : null" [checked]="selection_detail.isSelected(row_documento)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="mes">
                <th mat-header-cell *matHeaderCellDef> mes </th>
                <td mat-cell *matCellDef="let documento"> {{documento.mes}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="factura">
                <th mat-header-cell *matHeaderCellDef> factura </th>
                <td mat-cell *matCellDef="let documento"> {{documento.factura}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="fecha_emitida">
                <th mat-header-cell *matHeaderCellDef> fecha_emitida </th>
                <td mat-cell *matCellDef="let documento"> {{documento.fecha_emitida}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="fecha_vencida">
                <th mat-header-cell *matHeaderCellDef> fecha_vencida </th>
                <td mat-cell *matCellDef="let documento"> {{documento.fecha_vencida}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> valor </th>
                <td mat-cell *matCellDef="let documento"> {{documento.valor}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="deuda">
                <th mat-header-cell *matHeaderCellDef> deuda </th>
                <td mat-cell *matCellDef="let documento"> {{documento.deuda}} </td>
              </ng-container>

              <ng-container matColumnDef="descarga">
                <th mat-header-cell *matHeaderCellDef> descarga </th>
                <td mat-cell *matCellDef="let documento">
                    <button mat-raised-button (click)="openDialogDetalleFactura(documento)">Boleta</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsDetailToDisplay"></tr>
              <tr mat-row *matRowDef="let row_documento; columns: columnsDetailToDisplay;" (click)="selection_detail.toggle(row_documento)">
              </tr>
            </table>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let cuenta; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === cuenta"
        (click)="expandedElement = cuenta">
      </tr>
      <tr mat-row *matRowDef="let cuenta; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator #paginator [pageSize]="12" [pageSizeOptions]="[12, 24, 36]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>
