table {
  width: 100%;
}

.layout {
  margin-top: 4%;
  width: 100%;
  height: 100%;
}

.layout td {
  padding: 20px;
}

.tabla-cuentas{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  font-family: "TelefonicaWeb-Light" !important;
}

.tabla-cuentas tr th{
  font-weight: bold;
}

.docs-example-viewer-body{
  padding: 10px;
}

.navbar{
  padding-left: 30px;
  font-family: 'Telefonica-ExtraLight', 'Telefonica ExtraLight', 'Telefonica' !important;
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
  color: #666666;

}

.tag{
  cursor:pointer;
  text-decoration: underline;
}

.botonMovistar{
  background-color: #5BC500;
  color: white;
  font-family: "TelefonicaWeb-Light";
}