.layout {
  margin-top: 4%;
  width: 100%;
  height: 100%;
}

.layout td {
  padding: 20px;
}


/***********CARDS************/
.row{
  margin: 0;
}

.row-table{
  overflow-x: auto;
}


/***********TEXTOS***********/
.rojo{
  display:block;
  color: #D93D3D !important;
  text-decoration: none !important;
}

.naranjo{
  display:block;
  color: #FF7B00 !important;
  text-decoration: none !important;
}

.gris{
  display:block;
  color: #86888C !important;
}

.grisMargin{
  display:block;
  color: #86888C !important;
  margin-left: 24px;
}

.bold{
  font-weight: bold;
}

.center{
  text-align: center;
  padding: 0 !important;
}

.checkboxHeader{
  text-align: center;
  padding-left: 12px !important;
  padding-right: 2px !important;
}

.tag{
  text-decoration: underline;
  cursor: pointer;
}

/***********BOTONES**************/
.botonMovistar{
  background-color: #FFFFFF;
  color: #00976D;
  font-family: "TelefonicaWeb-Light";
  height: 40px;
  width: 116px;
  border: 1px solid #00976D;
  border-radius: 3px;
  box-shadow: none !important;
}

.botonMovistar:hover{
  background-color: #00976D;
  color: #FFFFFF;
}


/********ICONOS**************/
.accion{
  background-image: url("/assets/img/regular_informacion.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 15px;
  width: 15px;
  margin: 0px 0px -2px 10px;
}

.detalleDownFirst{
  background-image: url("/assets/img/arrow_down.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 15px;
  height: 15px;
  vertical-align: -webkit-baseline-middle;
  cursor: pointer;
  margin-right: 4px;
}

.detalleDown{
  background-image: url("/assets/img/arrow_down.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  cursor: pointer;
}


.detalleUpFirst{
  background-image: url("/assets/img/arrow_up.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 15px;
  height: 15px;
  vertical-align: -webkit-baseline-middle;
  cursor: pointer;
  margin-right: 4px;
}

.detalleUp{
  background-image: url("/assets/img/arrow_up.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  cursor: pointer;
}

.boleta{
  background-image: url("/assets/img/descargar_gris.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 45px;
  vertical-align: bottom;
}

.boleta:hover{
  background-image: url("/assets/img/descargar_azul.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 45px;
  vertical-align: bottom;
}

.boleta:active{
  background-image: url("/assets/img/descargar_azul.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 45px;
  vertical-align: bottom;
}

.dropdown.show .boleta{
  background-image: url("/assets/img/descargar_azul.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 45px;
  vertical-align: bottom;
}

.flechaDetalle{
  background-image: url("/assets/img/triangulo_detalle_cuenta.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-top: -32px;
  margin-left: -30px;
  vertical-align: top;
}


/*********DROPDOWN***********/
.dropdown-menu.show{
  transform: translate3d(-65px, 38px, 0px) !important;
  box-shadow: 1px 1px 1px 1px rgba(60,64,67,.15);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(60,64,67,.15);
}

.dropdownMenuLeft{
  margin-left: 20px;
}

.dropdownMenuRight{
  margin-left: -20px;
}

.dropdown-item{
  font-size: 14px !important;
  color: #86888C !important;
}

.dropdown-item:hover{
  background-color: #E6F1F5 !important;
}

.dropdownItemCheckbox{
  font-weight: bold;
  cursor: default;
}

.dropdownItemCheckbox:hover{
  background-color: transparent !important;
}

.dropdown-divider{
  border-top: 1px solid #E9EAE8 !important;
}

.selectTipo{
  background-image: url("/assets/img/Flecha.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 8px;
  margin-left: 3px;
  margin-bottom: 2px;
  cursor: pointer;
}

.dropdown{
  display: inline-block;
}



/************FILTROS***************/
.buscar{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin: 20px;
    padding: 8px;
    border-radius: 3px;
    width: 100%;
}

.buscar:hover{
  box-shadow:
    0 3px 8px 0 rgba(0,0,0,0.2),
    0 0 0 1px rgba(0,0,0,0.08);
}


/**********TABLAS***********/
.fondoTabla{
  background: #ffffff;
}

table {
  width: 100%;
  font-family: "TelefonicaWeb-Light" !important;
  font-size: 14px !important;
}

.tabla-cuentas{
  background: transparent;
  border: 1px solid #E9EAE8;
}

.tabla-cuentas tr th{
  font-weight: bold;
  font-size: 14px !important;
  color: #FFF;
  background: #2694B6;
  padding: 0px 20px;
  border: 1px solid #FFF;
}

.tabla-cuentas tr td{
  height: 80px;
  padding: 0px 20px;
  border: none;
  color: #86888C;
}

.tabla-cuentas tr,
.tabla-facturas tr{
  /* -webkit-box-shadow: inset 0 -1px 0 0 #E9EAE8; */
  /* box-shadow: inset 0 -1px 0 0 #E9EAE8; */
  border-bottom: 0.1px inset #E9EAE8;
}

.tabla-cuentas tr.example-element-row.active{
  background: #F4FAFB;
}

.tabla-cuentas tr.example-element-row:hover{
  box-shadow:
    inset 1px 0 0 #dadce0,
    inset -1px 0 0 #dadce0,
    0 0px 2px 0 rgba(60,64,67,.15),
    0 0px 3px 1px rgba(60,64,67,.3);
  -webkit-box-shadow:
    inset 1px 0 0 #dadce0,
    inset -1px 0 0 #dadce0,
    0 0px 2px 0 rgba(60,64,67,.15),
    0 0px 3px 1px rgba(60,64,67,.3);
  border-bottom: 2px outset rgba(60,64,67,.07);
}

.borderCuenta{
  /* border-top: 2px inset rgba(60, 64, 67, .1);
  border-left: 2px inset rgba(60,64,67,.2);
  border-right: 2px inset rgba(60,64,67,.4); */
  border-bottom: none !important;
} 

.tabla-cuentas tr.example-element-row.borderCuenta:hover{
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: none;
}

.example-detail-row{
  height: 0;
}

.tabla-cuentas tr.example-detail-row td{
  height: 0;
  padding: 0;
}

/*FACTURAS*/
.mat-elevation-z8{
  box-shadow: none;
}

.tabla-facturas{
  background: transparent;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 
    0 5px 10px 1px rgba(0, 0, 0, 0.14), 
    0 3px 14px 2px rgba(0, 0, 0, 0.12); 
  /* border-bottom: 2px outset rgba(60,64,67,.4);
  border-left: 2px outset rgba(60,64,67,.2);
  border-right: 2px outset rgba(60,64,67,.4); */
  /* width: 100.3%;
  margin-left: -2px; */

}

.tabla-facturas tr th{
  color: #86888C;
  background-color: #F6F7F6;
  border: none;
  border-bottom: 1px solid #E9EAE8;
}

.tabla-facturas tr td{
  height: 80px !important;
  padding: 0px 20px 0px 25px !important;
}

.tabla-facturas tr.active{
  background-color: #F4FAFB;
}

.tabla-facturas tr:hover{
  background-color: #FCFCFC;
}

/************PANTALLA RESPONSIVE**********/
@media (max-width: 768px) {

  .row-table{
    transform: scale(0.9);
    margin: -35px 0px;
  }

  .col-12{
    padding: 0;
  }

  .botonMovistar{
    height: 40px;
    width: 1%;
  }

  .center{
    padding: 0 20px !important;
  }

  .selectTipo{
    margin-right: 3px;
  }

  .dropdownMenuLeft{
    margin-left: 30px;
  }

  .dropdownMenuRight{
    margin-left: -30px;
  }

  .boleta{
    width: 20px;
    height: 40px;
  }

  .boleta:hover{
    width: 20px;
    height: 40px;
  }

  .boleta:active{
    width: 20px;
    height: 40px;
  }

  .dropdown.show .boleta{
    width: 20px;
    height: 40px;
  }

}

@media (max-width: 352px){

  .row-table{
    transform: scale(0.87);
    margin: -50px 0px;
  }

}
