<nav class="navbar navbar-expand-lg">
  <button type="button" id="sidebarCollapse" class="btn btn-info">
    <i class="fas fa-align-justify"></i>
  </button>

  <ul class="navbar-nav bd-navbar-nav flex-row">

    <div class="empresa">
      <h5 class="text-white" id="empresa">{{nombre_empresa}}</h5>
      <small>61.101.001-K</small>
    </div>
      <select class="custom-select" [(ngModel)]="_seleccionarTipoService.selected">
        <option value="movil">Servicios móviles</option>
        <option value="fija">Servicios fijos</option>
      </select>
  </ul>
</nav>
