<nav class="navbar navbar-expand-lg">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-justify"></i>
    </button>

    <ul class="navbar-nav bd-navbar-nav flex-row">

      <div class="empresa">
        <h5 class="text-white" id="empresa">{{nombre_empresa}}</h5>
        <small>78.703.410-1</small>
      </div>
      <li class="nav-item">
        <a class="nav-link" href="#">Servicios Móviles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Servicios Fijos</a>
      </li>
    </ul>
  </nav>
