<nav id="sidebar">
  <div class="sidebar-header">
    <h5>
      <img class="img" src="../../../assets/img/MOV_Nuestra M_Azul_RGB.png">
      Sucursal Virtual
    </h5>
    <strong>
        <img class="img-small" src="../../../assets/img/MOV_Nuestra M_Azul_RGB.png">
    </strong>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a href="#">
        <i class="fas fa-briefcase"></i>
        Consumo
      </a>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-copy"></i>
        Facturación
      </a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="#">Facturas y pagos</a>
        </li>
        <li>
          <a href="#">Historial de pago</a>
        </li>
        <li>
          <a href="#">Consultar PAC y PAT</a>
        </li>
      </ul>
      <a href="#">
        <i class="fas fa-briefcase"></i>
        Productos y Servicios
      </a>
      <a href="#">
        <i class="fas fa-briefcase"></i>
        Recambio de equipo
      </a>
      <a href="#">
        <i class="fas fa-briefcase"></i>
        Solicitudes y Consultas
      </a>
    </li>
  </ul>
</nav>
